## Exercises: Level 2

### 1. Declare a function named capitalize_list_items.

In [210]:
def capitalize_list_items(x):
    for i in range(len(x)):
        x[i]=x[i].capitalize()
    return x

In [212]:
list1=['a','orange','123']
capitalize_list_items(list1)

['A', 'Orange', '123']

### 2. Declare a function named add_item.

In [215]:
def add_item(x,y):
    x.append(y)
    return x

In [217]:
add_item(list1,'banana')

['A', 'Orange', '123', 'banana']

### 3. Declare a function named reverse_list.

In [220]:
def reverse_list(x):
    list1=x.copy()
    iter=-1
    for i in range(len(x)):
        x[i]=list1[iter]
        iter=iter-1
    return x

In [222]:

reverse_list(list1)

['banana', '123', 'Orange', 'A']

### 4. Declare a function named evens_and_odds.

In [237]:
def evens_and_odds(x):
    even_counter=0
    odd_counter=0
    for i in range(x+1):
        if i%2==0: even_counter+=1 
        if i%2==1: odd_counter+=1
    print(f'The number of odds are: {odd_counter}')
    print(f'The number of evens are: {even_counter}')

In [239]:
evens_and_odds(100)

The number of odds are: 50
The number of evens are: 51

### 5. calculate_mean, calculate_median, calculate_mode

In [245]:
def calculate_mean(x):
    sum=0
    for i in range(len(x)):
        sum+=x[i]
    return sum/len(x)

In [251]:
num_list=[1,2,3,4,5,6,7,8]
calculate_mean(num_list)

4.5

In [273]:
def calculate_median(x):
    if len(x)%2==1:
        median=x[(len(x)//2)]
    else:
        median=(x[(len(x)//2)-1]+x[(len(x)//2)])/2
    return median

In [275]:
num_list1=[1,2,3,4,5]
num_list2=[1,2,3,4,5,6]
median1=calculate_median(num_list1)
median2=calculate_median(num_list2)
print(median1,median2)

3 3.5

In [289]:
def calculate_mode(x):
    count_dict={}
    for i in x:
        if i in count_dict:
            count_dict[i]+=1
        else:
            count_dict[i]=1
    return(max(count_dict,key=count_dict.get))

In [291]:
list1=[1,2,3,2,3,1,3,2,3]
calculate_mode(list1)

3

### 6. Declare a function named print_list.

In [316]:
def print_list(x):
    for i in x:
        print(i)

In [318]:
list_a=['apple','banana','orange']
print_list(list_a)

apple
banana
orange

## Exercises: Level 3

### 1. Write a function called is_prime

In [376]:
def is_prime(x):
    divisor=[]
    for i in range(1,x+1):
        if x/i == x//i:
            divisor.append(i)
        else:
            continue
    if len(divisor)==2:
        return True
    else:
        return False

In [394]:
is_prime(0),is_prime(1),is_prime(2),is_prime(3),is_prime(4),is_prime(5),is_prime(6),is_prime(7),is_prime(8)

(False, False, True, True, False, True, False, True, False)

In [473]:
num=int(input("Enter a number to check if it is a prime number: "))
is_prime(num)

Enter a number to check if it is a prime number:  58

False

### 2. Write a functions which checks if all items are unique in the list

In [441]:
def unique_list(x):
    unique=True
    unique_dict={}
    for i in x:
        if i in unique_dict:
            unique=False
        else:
            unique_dict[i]=1
    return unique

In [443]:
list_1=['a','b','c']
list_2=['a','b','b','c']
list_3=[1,2,3,4]
list_4=[1,2,2,3,4]
unique_list(list_1),unique_list(list_2),unique_list(list_3),unique_list(list_4)

(True, False, True, False)

### 3. Write a function which checks if all the items of the list are of the same data type.

In [454]:
def same_data_type(x):
    same_data_type=True
    default_type=type(x[0])
    for i in x:
        if type(i) != default_type:
            same_data_type=False
    return same_data_type

In [468]:
list_1=[1,2,3]
list_2=['apple','orange','banana']
list_3=[1,2,'apple']
list_4=['orange','apple',True]
list_5=[1,2,3.0]
same_data_type(list_1),same_data_type(list_2),same_data_type(list_3),same_data_type(list_4),same_data_type(list_5)

(True, True, False, False, False)

### 4. Write a function which check if provided variable is a valid python variable

In [623]:
def valid_variable(x):
    try:
        exec(f'{x} = {"''"}')
    except(SyntaxError):
        print("invalid variable")
        return
    print('valid variable')

In [629]:
var=input("Enter a variable to check if it's valid: ")
valid_variable(var)

Enter a variable to check if it's valid:  def

invalid variable

In [633]:
var=input("Enter a variable to check if it's valid: ")
valid_variable(var)

Enter a variable to check if it's valid:  var

valid variable